.main{
  background-color: rgba(17, 17, 17, 0.8);
  margin: auto;
  width: 700px;
  padding: 20px 50px 142px 50px;
  border-radius: 10px;
}

.re-img{
  height: 100px;
  width: 100px;
  border: white solid 5px;
}

.re-img2{
  height: 40px;
  width: 40px;
}

hr{
  color: black;
}
h1{
  color: white;
}

h2{
  color: white;
}

p{
  color: white;
}

.log{
  margin-top: 28px;
}
.header{
  width: 700px;
}